<h1>User Dashboard</h1>
<h2><%= @user.email %></h2>
<h2>Member Since: <%= @user.created_at.strftime("%B %Y") %></h2>
<h4><%= @user.comments.count %> Total comments</h4>
<h4>>%= @user.comments.where(rating: "5_stars").count %> Total 5 star reviews</h4>