@import "bootstrap-sprockets";
@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebedb #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfff5; 
  background-image: url('/assets/brilliant.png');
 /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.navbar.navbar-inverse {
  background-color: #180E1A;
  border-radius: 0;
  box-shadow: 0px 2px 3px #302F2F;
}

.navbar-inverse .navbar-brand {
  color: #9CCC0E;
  font-family: 'alfa_slab_oneregular';
  font-size: 40px;
  }

