@import "bootstrap-sprockets";
@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebedb #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px
}

h1, h2, h3, h4, h5, h6, {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'alfa_slab_oneregular';
}

h6 {
  font-family: 'alfa_slab_oneregular';
  font-size: 25px;
  font-color: #1A141C;
}

body {
  /*background-color: #fbfff5;*/
  /*background-color: #ECE8ED; */
  background-color: #E9EDE8;  
  background-image: url('/assets/brilliant.png');
 /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.navbar.navbar-inverse {
  background-color: #1A141C;
  border: none;
  border-radius: 0px;
  box-shadow: 0px 1px 3px #302F2F;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #9CCC0E;
  font-family: 'alfa_slab_oneregular';
  font-size: 40px;
  margin-top: 5px;
  }

.green {
  background-color: #9CCC0E;
  height: 20px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
}

#map {
  height: 300px;
} 

.clear {
  clear: both;
}

a {
    color: #1A141C;
    text-decoration: none;
 }

a:hover {
    color:#9CCC0E;
    text-decoration: none;
  }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #AAADAA;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #AAADAA;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

img {
  height: auto;
  max-width: 100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  max-height: 500px;
  width: 100%;
}

.carousel-caption {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 40px;
  font-weight: 100;
  background-color: rgba(0,0,0,0.5); 
  width: 100%;
  position: absolute;
  left: 0;
}

.btn-link {
  color: #637065;
  font-weight: normal;
  border-radius: 0;   
}

.btn-link:hover {
  text-decoration: none;
  color: #1A141C;
}

.btn-danger {
  background-color: #CC0E86;
  border: none
}

.btn-primary {
  background-color: #5278CC;
  border: none
}

.btn-success {
  border: none
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-family: "alfa_slab_oneregular";
    font-size: 25px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 18px;
}

.carousel {
  box-shadow: 0px 1px 3px #302F2F;
}

@media  (max-width: 991px) {
  .col-xs-10 > div:nth-child(1n+2) {
    float: center;
  }
}
@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: center;
}
}

