@import "bootstrap-sprockets";
@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebedb #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'alfa_slab_oneregular';
}

body {
  /*background-color: #fbfff5;*/
  /*background-color: #ECE8ED; */
  background-color: #E9EDE8;  
  background-image: url('/assets/brilliant.png');
 /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.navbar.navbar-inverse {
  background-color: #1A141C;
  border: none;
  border-radius: 0px;
  box-shadow: 0px 1px 3px #302F2F;
}

.navbar-inverse .navbar-brand {
  color: #9CCC0E;
  font-family: 'alfa_slab_oneregular';
  font-size: 40px;
  margin-top: 5px;
  }

.green {
  background-color: #9CCC0E;
  height: 20px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
}

#map {
  height: 300px;
} 

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #AAADAA;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #AAADAA;
  content: open-quote;
  font-size: 4em;
  font-family: "alfa_slab_oneregular";
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}